*{
    margin: 0;
    padding: 0;
}
.main-bx{
    height: 100%;
    width: 100%;
    background-image: url("images/darkbg.jpg");
    background-position: center;
    background-size: cover;
    position: absolute;
}
.landing-site{
    text-align: left;
    color: white;
    margin-top: 20%;
    margin-left: 10%;
}
#content{
    text-align: left;
    padding-top: 30%;
}
.btn-main:hover{
    transition: all 0.5s;
    transform: scale(1.1);
}
h1{
    color: white;
    font-family: 'Ultra', serif;
    text-shadow: 2px 1px red;
}
.h6{
    color: white;
}
.icon-main{
    max-width: 8%;
    max-height: 8%;
}
@media (max-width: 1000px){
    .icon-main{
        max-height: 20%;
        max-width: 20%;
    }
    .landing-site{
        margin-top: 40%;
        margin-left: 2%;
    }
}
.footer{
    background: rgba(0, 0, 0, 0.8);
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    color: white;
}
.img-size{
    height: 5%;
    width: 5%;
    padding: 5px 10px;
    transition: all 0.5s;
}
@media (max-width: 1000px){
    .img-size{
        height: 10%;
        width: 10%;
    }
}
.img-size:hover{
    transform: scale(1.2);
}


#getstarted{
    position: relative;
    left: 10%;
}

#getsignin{
    position: relative;
    left: 30%;
}


/*...............................contact page.......................................*/
.contact-bg{
    background: url("images/darkbg2.png");
    background-repeat: no-repeat;
    background-size: cover;
}
#cont-main{
    color: white;
    text-align: center;
    padding-top: 2%;
}
#cont-main hr{
    border-top: 1px dashed white;
}
.cont-form{
    text-align: center;
    padding-top: 25%;
    color: white;
}

/*.....................................About Me......................................*/
.jumbotron{
    text-align: center;
}
.jumbotron h1{
    color: black;
}
.founder{
    width: 15%;
    height: 15%;
    border-radius: 50%;
}
.para{
    text-align: center;
}

/* .......................Main Styling.......................................... */

.bg{
    width: 100%;
    height: 100%;
    background: url("images/login-img.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    overflow: hidden;
}

.form-box{
    width: 380px;
    height: 500px;
    position: relative;
    margin: 6% auto;
    background: white;
    padding: 5px;
    border-radius: 30px;
    overflow: hidden;
}
@media (max-width: 1000px)
{
    .form-box{
        margin: 11% auto;
        overflow: hidden;
    }
}
.button-box{
    width: 220px;
    margin: 35px auto;
    position: relative;
    box-shadow: 0 0 20px 9px rgb(32, 32, 32);
    border-radius: 30px;
}

.toggle-btn{
    padding: 2% 11.5%;
    cursor: pointer;
    background: transparent;
    border: 0;
    outline: none;
    position: relative;
}

#my-butn{
    top: 0;
    left: 0;
    position: absolute;
    width: 110px;
    height: 100%;
    background: linear-gradient(to right, #ff661a,#ffaa80);
    border-radius: 30px;
    transition: .5s;
}

.social-icons{
    margin: 30px auto;
    text-align: center;
}
.social-icons img{
    height: 9%;
    width: 9%;
    margin: 0 3%;
    cursor: pointer;
    border-radius: 30%;
}
.social-icons img:hover{
    transform: scale(1.1);
    transition: all 0.5s;
}

.input-group{
    top: 180px;
    position: absolute;
    width: 280px;
    transition: .5s;
}
.input-field{
    width: 100%;
    padding: 10px 0;
    margin: 5px 0;
    border-left: 0;
    border-right: 0;
    border-top: 0;
    border-bottom: 1px solid black;
    outline: none;
    background: transparent;
}
.submit-btn{
    width: 85%;
    padding: 10px 30px;
    cursor: pointer;
    display: block;
    margin: auto;
    background: linear-gradient(to right, #ff661a,#ffaa80);
    border: 0;
    outline: none;
    border-radius: 30px;
}

.check-box{
    margin: 30px 10px 30px 0;
    cursor: pointer;
}
span{
    margin: 22px 10px 30px 0;
}

#login-page{
    left: 50px;
}
#register-page
{
    left: 450px;
}
span svg{
    margin-left: 500%;
    cursor: pointer;
}

.profile-image{
    width: 45px;
    height: 45px;
    border-radius: 50%;
    border: 1px solid white;
    cursor: pointer;
}

.body-main{
    background: white;
    margin-top: 4%;
    background:transparent;
}

.left{
    background: rgba(202, 215, 236, 0.5);
    border-radius: 30px;
    height: 91.5vh;
    position: relative;
    text-align: center;
}
.right{
    height: 91.5vh;
    border-radius: 30px;
    background: rgba(255, 255, 255, 0.8);
    position: relative;
    overflow: scroll;
    text-align: justify;
}